.matrix {
  font-family: "Google Sans", "FantasqueSansMono Nerd Font", Consolas,
    "DejaVu Sans Mono", monospace;
  overflow: auto;
}

.matrix-content {
  display: inline-block;
}
.matrix-content input {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: transparent;
  border: 0;
  border-top: 2px solid hsl(200, 50%, 60%);
  color: hsl(200, 90%, 70%);
}
.matrix-content input::placeholder {
  color: hsl(200, 90%, 70%);
}
.matrix-content input:focus {
  outline: none;
}

.matrix-wrapper {
  display: flex;
  width: fit-content;
}
.matrix-wrapper td,
.matrix-wrapper th,
.matrix-wrapper button {
  cursor: pointer;
  user-select: none;
  width: 2rem;
  min-height: 1.2rem;
  flex: 1;
}
.matrix-wrapper button {
  background: transparent;
  border: none;
  font-weight: 700;
  color: hsl(200, 90%, 70%);
}

.matrix-table {
  empty-cells: show;
}
.matrix-table td:nth-child(even),
.matrix-table th:nth-child(even) {
  background-color: hsla(193, 75%, 75%, 0.6);
  color: hsl(193, 25%, 18%);
}
.matrix-table > thead > tr {
  border-bottom: 2px solid hsl(200, 50%, 60%);
}
.matrix-table tr {
  display: flex;
  align-items: center;
}

.matrix,
.matrix-table th {
  color: hsl(200, 90%, 70%);
}

.matrix-table td {
  color: hsl(192, 100%, 95%);
}
